# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
dist-ssr/
site/dist/
site/public/content/

# Editor / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp

# Env
*.local
.env
.env.*.local
